.filter-table-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #34626c;
  padding: 20px;
  color: #34626c;
}

p,
label {
  font: 1rem 'Arial', sans-serif;
}

input {
  margin: 0.4rem;
}
