.dropdown-container {
  width: 100%;
  cursor: pointer;
}

.first-option {
  background-color: #cfd3ce;
  color: #34626c;
  font-size: 15px;
  border-radius: 80px;
  margin: 3px;
  padding: 10px; /* top, right, bottom, left */
}
