.dropdown-container {
  width: 100%;
  cursor: pointer;
}

.first-option {
  background-color: #bedbbb;
  color: #59886b;
}

.second-option {
  background-color: #9ba4b4;
  color: #394867;
}

.third-option {
  background-color: #fff8c1;
  color: #ffc85c;
}
