h1 {
  text-align: center;
  font-family: arial, sans-serif;
}
.remove-add-button-container {
  display: flex;
}
.remove-add-button-container:hover {
  display: flex;
}
.plus {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.minus {
  font-size: 20px;
  cursor: pointer;
}

.task-dashboard {
  display: inline;
  margin: 25%;
}

.task-dashboard thead,
.task-dashboard tr {
  text-align: center;
  background-color: white;
  border: 1px solid white;
  color: #394867;
  font-size: 20px;
  font-family: sans-serif;
}
.task-dashboard th,
.task-dashboard td {
  padding: 12px 15px;
  border: 1px solid #394867;
}

.task-dashboard tbody tr {
  border-bottom: 1px solid #dddddd;
}

@media screen and (max-width: 700px) {
  h1 {
    text-align: center;
    font-family: arial, sans-serif;
  }
  .task-dashboard {
    width: 50%;
  }
}
