.input-label-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.addWish-button {
  cursor: pointer;
}
.wish-container {
  display: flex;
  justify-content: center;
  padding: 1.25em;
  width: 300px;
  border: 1px solid #f8f8f8;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
}

.wishes {
  text-align: center;
  padding: 30px;
  font-size: 25px;
  width: 20%;
}
.wish-description {
  font-size: 20px;
}
.remove-button {
  display: flex;
  justify-content: flex-end;
}
